In [18]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv("Bank_analysis.csv")
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,LOAN000001,CUST000001,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,LOAN000002,CUST000002,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,LOAN000003,CUST000003,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,LOAN000004,CUST000004,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,LOAN000005,CUST000005,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,LOAN100510,CUST100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,LOAN100511,CUST100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,LOAN100512,CUST100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,LOAN100513,CUST100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,LOAN100514,CUST100514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,LOAN000001,CUST000001,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,LOAN000002,CUST000002,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,LOAN000003,CUST000003,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,LOAN000004,CUST000004,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,LOAN000005,CUST000005,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89030 entries, 0 to 100513
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   loan_status                   89030 non-null  object
 1   current_loan_amount           89030 non-null  float64
 2   term                          89030 non-null  object
 3   credit_score                  89030 non-null  float64
 4   annual_income                 89030 non-null  float64
 5   years_in_current_job          84722 non-null  float64
 6   home_ownership                89030 non-null  object
 7   purpose                       89030 non-null  object
 8   monthly_debt                  89030 non-null  float64
 9   years_of_credit_history       89030 non-null  float64
 10  months_since_last_delinquent  89030 non-null  float64
 11  number_of_open_accounts       89030 non-null  float64
 12  number_of_credit_problems     89030 non-null  float64
 13  current_credit_balance        89030 non-null  float64
 14  maximum_open_credit           89030 non-null  float64
 15  bankruptcies                  89030 non-null  float64
 16  tax_liens                     89030 non-null  float64
dtypes: float64(13), object(4)
memory usage: 12.2+ MB

In [26]:
df.isnull().sum()

Loan ID                             0
Customer ID                         0
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [28]:
df = df.fillna(df.mean(numeric_only= True))

In [30]:
df.isnull().sum()

Loan ID                            0
Customer ID                        0
Loan Status                      514
Current Loan Amount                0
Term                             514
Credit Score                       0
Annual Income                      0
Years in current job            4736
Home Ownership                   514
Purpose                          514
Monthly Debt                       0
Years of Credit History            0
Months since last delinquent       0
Number of Open Accounts            0
Number of Credit Problems          0
Current Credit Balance             0
Maximum Open Credit                0
Bankruptcies                       0
Tax Liens                          0
dtype: int64

In [39]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(' ','_')
    .str.replace('-','_')
)

In [41]:
df['years_in_current_job'] = df['years_in_current_job'].fillna("Unknown")
df['home_ownership']= df['home_ownership'].fillna("Unknown")
df[['purpose','loan_status','term']] = df[['purpose','loan_status','term']].fillna("Unknown")

In [55]:
df.isnull().sum()

loan_status                        0
current_loan_amount                0
term                               0
credit_score                       0
annual_income                      0
years_in_current_job            4308
home_ownership                     0
purpose                            0
monthly_debt                       0
years_of_credit_history            0
months_since_last_delinquent       0
number_of_open_accounts            0
number_of_credit_problems          0
current_credit_balance             0
maximum_open_credit                0
bankruptcies                       0
tax_liens                          0
dtype: int64

In [59]:
df['years_in_current_job'] = df['years_in_current_job'].fillna(df['years_in_current_job'].mean())

In [61]:
df.isnull().sum()

loan_status                     0
current_loan_amount             0
term                            0
credit_score                    0
annual_income                   0
years_in_current_job            0
home_ownership                  0
purpose                         0
monthly_debt                    0
years_of_credit_history         0
months_since_last_delinquent    0
number_of_open_accounts         0
number_of_credit_problems       0
current_credit_balance          0
maximum_open_credit             0
bankruptcies                    0
tax_liens                       0
dtype: int64

In [45]:
df.duplicated().sum()

0

In [47]:
df = df[df['current_loan_amount'] != 99999999.0]

In [51]:
df = df.drop(columns=["loan_id", "customer_id"])

In [53]:
def fix_years(x):
    if x == '10+ years': return 10
    if x == '< 1 year': return 0.5
    if x == 'Unknown': return None
    return float(x.split()[0])

df['years_in_current_job'] = df['years_in_current_job'].apply(fix_years)

In [63]:
df.to_csv("Cleaned_Bank_risk.csv")

In [64]:
import os
os.getcwd()

'C:\\Users\\sakth'